body {
  height: 100vh;
  display: flex;
  align-items: center;
}

main {
  width: 70%;
  max-width: 140rem;
  height: 60%;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.card:first-child {
  grid-column: 1/span 2;
  background-position: 80% top;
}

.card:nth-child(3) {
  grid-row: 2 / 3;
}

.card:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.card:last-child {
  grid-row: 1 / span 2;
}